@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html,
body {
  background-image: radial-gradient(
    circle 935px at 3.1% 5.8%,
    rgba(182, 255, 139, 1) 0%,
    rgba(8, 88, 127, 1) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}
